{% extends "layout.html" %}
{% block content %}
<h1>Product: {{product.name}}</h1>
<form action="{{ url_for('products.product_update',product_id = product.id)}}" method = "post">
    <div class="form-group"></div>
        <label for="product_name">Product Name : </label>
        <input type="text" name="product_name" value="{{product.name}}" class="form-control">
        <label for="product_description">Product Description : </label>
        <input type="text" name="product_description" value="{{product.description}}" class="form-control">
        <label for="product_color">Product Color : </label>
        <input type="text" name="product_color" value="{{product.color}}" class="form-control">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
    
    
</form>
{% endblock %}